# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Environments
.venv
venv/
ENV/

# Data cache (optional if raw data is gitignored, keep raw/processed gitignored or tracked)
# data/raw/*
# data/processed/*

# IDEs
.vscode/
.idea/
.DS_Store
